/*body{
  background-image: url(../../assets/img/fabric_of_squares_gray_@2X.png);
  background-repeat:repeat;
}*/
.obli{
        color:#d9534f;
      }
#footerpro {
	background-color:#5bc0de;
	color: white;
}

#footerpro img{
	margin-top:10px;
	margin-bottom:10px;
}
.sector-misionero{
	display: none;
}